.bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
.bt{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin:10px;
	color:white;
}
.r{
	background-color:blue;
}
.j{
	background-color:green;
}